@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

:root{
    --Yellow: hsl(40, 97%, 58%);
    --dark-navy: hsl(216, 17%, 35%);
    --Dim-grey: hsl(217, 12%, 62%);
    --Snow: hsl(214, 37%, 96%);
    --Light-grey: hsl(212, 41%, 93%);
    --Light-Yellow: hsl(39, 100%, 94%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--Dim-grey);
}

section{
    width: 100%;
    overflow-x: hidden;
}

.circles{
    display: none;
}

.about-content-image{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.about-content-image img{
    width: 80%;
    border-radius: 50%;
}

.about-page-text{
    padding: 0 40px;
    padding-bottom: 40px;
}

.about-page-text h2{
    font-family: Space Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.4285714626312256px;
    padding-bottom: 20px;
    color: var(--dark-navy);

}

.about-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.about-pattern-1{
    position: absolute;
    width: 735px;
    height: 138px;
    transform: scaleY(-1);
    top: 207px;
    left: 40px;
}

.about-pattern-2{
    position: absolute;
    width: 735px;
    height: 138px;
    top: 47px;
    right: -105px;
}