@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");

:root {
  --Yellow: hsl(40, 97%, 58%);
  --dark-navy: hsl(216, 17%, 35%);
  --Dim-grey: hsl(217, 12%, 62%);
  --Snow: hsl(214, 37%, 96%);
  --Light-grey: hsl(212, 41%, 93%);
  --Light-Yellow: hsl(39, 100%, 94%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

section {
  width: 90%;
}

.item-container {
  text-align: center;
  margin: 120px 0;
}

.content-image img {
  border-radius: 50%;
  width: 90%;
}

.third-page-text h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 32px;
}

.third-page-text p {
  margin-bottom: 32px;
}

.third-page-text button {
  width: 180px;
  height: 53px;
  border: none;
  font-weight: 700;
}

.item-image {
  position: relative;
}

.item-pattern-1 {
  position: absolute;
  left: 62px;
  top: 190px;
}

.item-pattern-2 {
  position: absolute;
  right: 150px;
  bottom: 200px;
}

.item-pattern-3 {
  position: absolute;
  bottom: 190px;
  left: 215px;
}

.item-pattern-1 img {
  width: 347px;
  height: 138px;
}

.item-pattern-2 img {
  width: 400px;
  height: 138px;
}

.item-pattern-3 img {
  width: 193px;
  height: 138px;
}

.circles {
  display: none;
  overflow: hidden;
}

@media (min-width: 600px) {
  .circles {
    display: block;
    position: absolute;
    right: -250px;
    top: 40px;
    overflow: hidden;
  }
  .circles img {
    width: 350px;
  }
  .item-container {
    position: relative;
  }
  .content-image img {
    width: 60%;
  }
  .third-page-text h2 {
    font-size: 48px;
    padding: 10px;
  }
  .item-pattern-1 img {
    width: 564px;
    height: 138px;
  }
  .item-pattern-2 img {
    width: 250px;
    height: 138px;
  }
  .item-pattern-3 img {
    width: 223px;
    height: 137.64px;
  }
  .item-pattern-1 {
    left: 30px;
    top: 210px;
  }
  .item-pattern-2 {
    right: 330px;
    bottom: 200px;
  }
  .item-pattern-3 {
    bottom: 130px;
    left: 370px;
  }
}

@media (min-width: 1024px) {
  .circles{
    overflow: hidden;
  }
}
  