@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

:root{
    --Yellow: hsl(40, 97%, 58%);
    --dark-navy: hsl(216, 17%, 35%);
    --Dim-grey: hsl(217, 12%, 62%);
    --Snow: hsl(214, 37%, 96%);
    --Light-grey: hsl(212, 41%, 93%);
    --Light-Yellow: hsl(39, 100%, 94%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    background-color: #FFFFFF;
}

main{
    width: 90%;
    color: var(--Dim-grey);
}

.triangle-down{
    display: none;
}

.world-location{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}

.world-location button{
    margin: 10px 0;
    font-weight: 700;
    font-size: 24px;
    height: 62px;
    background-color: var(--Light-Yellow);
    color: var(--dark-navy);
    border: none;
    font-family: Space Mono;
    line-height: 28px;
    letter-spacing: -1.07px;
}

.map{
    margin-top: 50px;
}

.map .world-map-mobile{
    width: 90%;
    height: 152px;
}

.location-text{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.location-text h2{
    font-family: Space Mono;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 20px;
    letter-spacing: -1.43px;
    color: var(--dark-navy);
}

.location-text p{
    font-weight: 400;
    margin: 32px 0;
}

.location-text button{
    height: 52px;
    width: 50%;
    font-weight: 700;
    background-color: var(--Yellow);
    border: none;
    color: hsla(0, 0%, 100%, 1);
}

.location-text button:hover{
    background-color: #FFFFFF;
    color: var(--Yellow);
    border: 1px solid var(--Yellow);
}

.location-text .btn{
    margin-bottom: 80px;
}

.map .world-map-tablet{
    display: none;
}

.map .world-map-desktop{
    display: none;
}

@media only screen and (min-width: 600px){
    .map .world-map-mobile{
        display: none;
    }
    .map .world-map-tablet{
        display: block;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .world-location button{
        font-size: 13px;
        padding: 0px 30px;
        background-color: var(--Yellow);
        background-size: cover;
    }
    .world-location button h3{
        padding-top: 20px;
    }
    .map{
        position: relative;
    }
    .triangle-down {
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid var(--Yellow);
        margin-top: 5px;
        margin-left: 20px;
    }
    .world-location button:nth-of-type(1){
        position: absolute;
        left: 50px;
        top: 120px;
    }
    .world-location button:nth-of-type(2){
        position: absolute;
        left: 200px;
        top: 80px;
    }
    .world-location button:nth-of-type(3){
        position: absolute;
        right: 30px;
        top: 140px;
    }
    .world-location button:nth-of-type(4){
        position: absolute;
        right: 70px;
        top: 270px;
    }
    .location-text h2{
        font-size: 48px;
        line-height: 48px;
    }
    .location-text p{
        margin: 40px 0;
    }
    .location-text button{
        width: 30%;
    }
    .location-text .btn{
        margin-bottom: 120px;
    }
}
    